venv

node_modules
.envrc


packages/*/dist
packages/**/dist */
dist

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/chrome-debug-profile/